<!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Hello! I am passionate about the world of technology and software, and in particular, I love the challenge of creating useful and functional applications that meet the needs of users. I also enjoy exploring new technologies and tools that can improve the efficiency and quality of software development. I consider myself a professional in constant learning and looking for new challenges to improve my skills and knowledge.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="./static/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Computer Systems Engineer</h3>
            <p class="fst-italic">
              I am a Computer Systems Engineer graduated from the Universidad del Valle in Cochabamba, Bolivia. In addition to my university degree, I have two diplomas: one in Web Application Development and one in Geographic Information Systems.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>7 Dec 1975</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.ajarsun.heroku.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+591 72999082</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Tarija, Bolivia</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>47</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>ajarsun@hotmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              As a professional, I am guided by responsibility and seriousness in every job I do. I strive to deliver high-quality results and meet the expectations of my clients.
            </p>
          </div>
        </div>

      </div>
    </section>
<!-- End About Section -->