<!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>During my career as an information technology professional, I have gained skills and experience in various fields, from application development to data management and analysis. Below is an overview of my experience and skills in the field of information technology</p>
         </div>

        <div class="row">
          <div class="col-lg-12" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Adolfo Jars&uacute;n</h4>
              <p><em>With over 5 years of experience in application development, database design, data warehousing, and data analysis, I have acquired the necessary skills to tackle a wide range of technological challenges and ensure the success of the projects I work on.</em></p>
              <ul>
                <li>Tarija City, Bolivia, Las Americas Avenue #1051</li>
                <li>(+591) 72999082</li>
                <li>ajarsun@hotmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Diploma in Implementation and Management of Web Applications</h4>
              <h5>2007</h5>
              <p><em><em>Universidad Virtual/Fundaci&oacute;n CHASAL, Santa Cruz, Bolivia</em></p>
              <p>This diploma covers various modules related to the implementation and management of web applications, including designing and implementing websites, developing applications with ASP .NET, PHP, AJAX technology, and managing web projects.</p>
            </div>
            <div class="resume-item">
              <h4>Diploma in Geographic Information Systems (GIS)</h4>
              <h5>2007</h5>
              <p>This diploma program covered a range of topics related to Geographic Information Systems (GIS) and included modules on Fundamentals of GIS and Remote Sensing, Territorial Planning and Management, Digital Geographic Information, Cadastral Systems, Basic and Advanced GIS Software Tools, Implementation and Development of GIS Projects, and Application of Forest and Agricultural Management Instruments. Through this program, I gained knowledge and skills in using GIS software tools and techniques for spatial analysis, project planning, and management, as well as applying GIS to real-world challenges in a variety of fields.</p>
            </div>
             <div class="resume-item">
              <h4>"Bachelor in Computer Systems Engineering</h4>
              <h5>2005</h5>
              <p>A graduate in computer systems engineering is trained to design, develop, implement and manage information systems in a wide variety of contexts, whether in companies, government organizations or in the private sector. They are also equipped to conduct analysis and diagnosis of systems, identify opportunities for improvement, and provide innovative and efficient solutions to solve problems in the field of information technology. In addition, they can lead and work as part of a team on information technology projects, and stay up-to-date on the latest trends and technological advances in their area of specialization."</p>
            </div>

          </div>
          <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Systems Analyst Programmer</h4>
              <h5>2013</h5>
              <p><em>IICA/SENASAG, Trinidad, Bolivia </em></p>
              <p>Design, develop, implement, and maintain computer systems. Some of the responsibilities include:</p>
                <ul>
                  <li>Requirement analysis: understanding business needs and translating them into technical requirements.</li>
                  <li>Solution design: creating computer solutions that meet business requirements and conform to industry standards.</li>
                  <li>Software development: writing programming code that meets specifications and technical requirements.</li>
                  <li>Testing and debugging: performing thorough testing on the software to ensure it works properly and correcting errors and bugs.</li>
                </ul>
            </div>
            <div class="resume-item">
              <h4>Software Architect</h4>
              <h5>2012</h5>
              <p><em>Angencia Nacional de Hidrocarburos, La Paz, Bolivia</em></p>
              <ul>
                  <li>Team leader for the development and implementation of the internal and external correspondence management system. System developed in ASP.NET C# and Oracle Database using Domain-Driven N-Tier Architecture (SOA).</li>
                  <li>Implementation of the Single Platform for System Development called Hydro (Core). Platform where all the systems of the National Hydrocarbons Agency are developed.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Software Architect</h4>
              <h5>2011-2012</h5>
              <p><em>Helios Avanced Nutricion, Santa Cruz, Bolivia</em></p>
              <ul>
                <li>Developed a Multilevel Sales or Pyramid Sales, Inventory and Purchases Control Application. Web
                  application developed using Asp.Net, C# and Microsoft SQL Server 2005 Database technology.
                </li>
                <li>Installed and Configured Windows Server 2008, IIS 7, Sql Server Database and the application for its
                  startup.
                </li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Database Supervisor</h4>
              <h5>2007-2009</h5>
              <p><em>Electronic Government, Tarija, Bolivia</em></p>
              <ul>
                <li>Maintenance, update, and technical support of the databases of the systems developed within the
                  Electronic Government Directorate and by third parties.
                </li>
                <li>Responsible for the projection, development, and use of applications based on Oracle Application
                  Server IAS, BPEL Process.
                </li>
                <li>Development of systems on the Microsoft .NET/Oracle platform in collaboration with the Software
                  Development team undertaken by the Electronic Government Directorate.
                </li>
              </ul>

            </div>
          </div>
        </div>

      </div>
    </section>
<!-- End Resume Section -->

