<!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>As a Systems Engineer, I have acquired a broad set of skills in the field of information technology. These skills allow me to tackle a wide range of challenges in application development, database design and management, data analysis, project management, and leadership. Below you will find a list of some of the most notable skills:</p>
          <ul>
            <li>Web application development with HTML, CSS, JavaScript and frameworks such as React and Angular.</li>
            <li>Programming in languages such as Python, C#</li>
            <li>Design and administration of relational databases such as Oracle, MySQL, PostgreSQL, etc.</li>
            <li>Data analysis and visualization with tools such as Pandas, Numpy, Matplotlib, Seaborn, scikit-learn, etc.</li>
            <li>Knowledge of agile development methodologies such as Scrum, Kanban, etc.</li>
            <li>Project management and leadership skills.</li>
            <li>Knowledge of computer security and cybersecurity.</li>
            <li>Communication and teamwork skills.</li>
            <li>Mastery of version control tools such as Git.</li>
            <li>Ability to solve complex problems and make data-driven decisions.</li>
          </ul>

        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Business Intelligence Analysts (Power BI) <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">C# <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Data Analysis(Python) <i class="val">55%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section>
<!-- End Skills Section -->